.wrapper {
    display: grid;
    grid-template-columns: 1fr;
}

.ava {
    margin: 0 auto;
    height: 30px;
    width: 30px;
    border-radius: 100%;
    background-color: rgb(246, 214, 5);
}

.name {
    margin-top: 7px;
    text-align: center;
    font-size: 14px;
    color: #ffffff;
}

