.usersWrapper {
    z-index: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.user {
    padding: 10px;
    display: flex;
    margin-top: 20px;
    border: 1px solid;
    width: 50%;
    border-radius: 5px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.pages {
    margin: 0 auto;
    padding: 5px;
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(241, 176, 30, 0.86);
    border-radius: 5px;
    box-shadow: 0 0 40px rgba(0,0,0,0.5);
}
.activePage {
    border-radius: 3px;
    border: none;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    background-color: #ff2a2a;
    color: gold;
    transition: all .5s;
}
.page {
    border-radius: 3px;
    border: none;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.prevBtn, .nextBtn {
    position: relative;
    display: block;
    color: #ffffff;
    background-color: rgba(140, 140, 140, 0.58);
    font-size: 14px;
    border: 2px solid rgba(24, 150, 72, 0.67);
    padding: 2px 4px;
    cursor: pointer;
    border-radius: 5px;
    text-transform: uppercase;
    overflow: hidden;
    transition: 1s height, width ease, 0.1s transform ease;
    z-index: 10;
}
.nextBtn:active {
    transform: translate(0.7em, 0em);
}
.prevBtn:active {
    transform: translate(-0.7em, 0em);
}
.prevBtn::before, .nextBtn::before{
    background: #2df59e;
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: all 0.6s ease;
    z-index: -1;
}
.prevBtn::before{
    width: 100%;
    height: 0;
    transform: translate(-50%,-50%) rotate(45deg);
}
.prevBtn:hover::before, .nextBtn:hover::before{
    height: 380%;
}
.nextBtn::before{
    width: 100%;
    height: 0;
    transform: translate(-50%,-50%) rotate(-45deg);
}
.formSelect {
    height: 30px;
    border-radius: 5px;
    margin-left: 10px;
}
.submitBtn {
    height: 40px;
    margin-left: 10px;
}
/*form name*/
.formGroup {
    position: relative;
    padding: 15px 0 0;
    margin-top: 10px;
    width: 50%;
}

.formField {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid #9b9b9b;
    outline: 0;
    font-size: 1.3rem;
    color: #000000;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
}

.formField::placeholder {
     color: transparent;
}

.formField:placeholder-shown ~ .formLabel {
     font-size: 1.3rem;
     cursor: text;
     top: 20px;
}

.formLabel {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #9b9b9b;
}
.formField:focus ~ .formLabel {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #11998e;
    font-weight:700;
}
.formField:focus {
    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right, #11998e, #38ef7d);
    border-image-slice: 1;
}

/* reset input */
.formField:required,.formField:invalid { box-shadow:none; }
