.loading {
    text-align: center;
    width: 100%;
}

.header {
    display: flex;
    justify-content: space-between;
    grid-area: header;
    background-color: rgba(2, 132, 169, 0.76);
}

.headerLogo {
    width: 50px;
    height: 100%;
}

.loggingDiv {
    width: 200px;
    margin: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 4px;
    border: 2px solid black;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.loggingDiv a {
    color: gold;
    cursor: pointer;
    text-decoration: underline;
}

